.select {
  display: flex;
  flex-direction: column;
  gap: 10px;

  cursor: text;

  &__caption {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;

    color: #000000;
  }

  &__field {
    height: 40px;

    padding: 0 14px;

    display: flex;
    align-items: center;

    font-weight: 600;
    font-size: 14px;
    line-height: 16px;

    outline: none;
    border: none;
    border-radius: 6px;

    background: #F2F2F2;
  }
}
