.wrapper {
  width: 100vw;
  height: 100vh;

  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: visibility .3s ease, opacity .3s ease;

  z-index: 1000;

  background: rgba(#191919, .8);

  &Hidden {
    visibility: hidden;
    opacity: 0;
  }

}

.baseModal {
  width: 350px;

  max-height: 100%;

  padding: 20px;

  border: 1px solid #2d2d2d;
  border-radius: 12px;

  transition: opacity .3s ease;

  opacity: 1;

  background: #FFFFFF;

  &Hidden {
    opacity: 0;
  }

  .header {
    width: 100%;

    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    &__title {
      font-weight: 700;
      font-size: 18px;
      line-height: 20px;

      color: #000000;
    }

    .closeActions {
      position: absolute;
      right: 0;

      display: flex;
      gap: 8px;

      &__icon {
        width: 20px;
        height: 20px;

        display: flex;
        align-items: center;
        justify-content: center;

        transition: opacity .3s ease;

        cursor: pointer;

        &:hover {
          opacity: .7;
        }
      }

    }

  }

  .content {
    width: 100%;

    margin-top: 30px;
  }

}
