@import "renderer/style/reset";
@import "renderer/style/fonts";
@import "renderer/style/colors";
@import "renderer/style/selection";
@import "renderer/style/scrollbar";

body {

  width: 100vw;
  height: 100vh;

  font-family: 'Manrope', sans-serif;

  overflow-x: hidden;

  background: #FFFFFF;

}
